@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;

    transform: translateX(-50%);
  }

  #page-create-point form fieldset .field-group {
    flex-direction: column;
  }

  #page-create-point form fieldset .field-group .field + .field {
    margin-left: 0;
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results main .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results main .cards img {
    height: 250px;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 600px) {
  #page-create-point fieldset .items-grid {
    grid-template-columns: 1fr 1fr;
  }

  #page-create-point fieldset legend {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  #page-create-point form h1 {
    text-align: center;
  }

  #page-create-point fieldset .items-grid {
    grid-template-columns: 1fr;
  }

  #page-create-point form {
    padding: 30px;
  }

  #page-create-point form button {
    width: 225px;
  }
}
